::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.full{
  min-height:100vh;
  width:100%;
}

.bg{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;
}

.bg{
  height:100%;
  width:100%;
}

html,body{
  color:black;
}
header .feature{
  display:inline-block
}
header .feature-content{
  width:100%;
  height:70%;
  display:flex;
  align-items: center;
  justify-content: center;
}

header .feature-content .category_icon{
  height:100%;
}

header .feature-content .category_icon img{
  height:100%;
}

header .feature .title{
  text-align:center;
}

.main-feature, .sub-feature{
  border-radius: 50%;
  padding:30px;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/1.jpg');
  background-position: center;
  background-size:cover;
  color:white;
  position:absolute;
}

    .main-feature{
      height:65vh;
      width:65vh;
      left:10%;
      top:10%;
      animation: moving1 4s linear infinite alternate;
    }

    .sub-feature:nth-of-type(even){
      top:15%;
      left:60%;
      animation: moving2 2.5s linear infinite alternate;
      height:35vh;
      width:35vh;
    }

    .sub-feature:nth-of-type(odd){
      top:55%;
      left:45%;
      animation: moving3 2s linear infinite alternate;
      height:25vh;
      width:25vh;
    }

@keyframes moving1{
  0% {margin-left:15px; margin-bottom:15px;}
  33% {margin-left:0px; margin-top:15px;}
  66% {margin-left:8px; margin-top:15px;}
  100% {margin-right:15px; margin-top:0px;}
}

@keyframes moving2{
  0% {margin-right:15px; margin-top:0px;}
  33% {margin-left:0px; margin-top:15px;}
  66% {margin-left:8px; margin-top:15px;}
  100% {margin-left:15px; margin-bottom:15px;}
}

@keyframes moving3{
  0% {margin-right:15px; margin-top:0px;}
  33% {margin-left:8px; margin-top:15px;}
  66% {margin-left:15px; margin-bottom:15px;}
  100% {margin-left:0px; margin-top:15px;}
}
