// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


#portfolio .project{
  display:flex;
  height: 200px;
  background-size:cover;
  background-position:center;
  background-repeat:center;
  align-items:center;
  justify-content:center;
}

#portfolio .content{
  display:none;
  height:100%;
  width:100%;
  transition: all 0.5s ease;
  align-items:center;
  justify-content:center;
  color:white;
}

#portfolio .project:hover .content{
  display:flex;
  background:rgba(0,0,0,0.35);
}

#top .jumbotron{
  background:rgba(0,0,0,0.35);
  color:white;
}

#top .jumbotron h4{
  color: #2E6DA5;
  font-weight:900;
}
#top .jumbotron p{
  font-weight:lighter;
}

#top iframe{
  height:60vh;
  width:100%;
}


#top .container{
  margin-top:50px;
  margin-bottom: 50px;
}

#top .content{
  padding-top:50px;
  padding-bottom:50px;
  text-align: center;
}

#about .logo{
  width:100%;
}

#about h2{
  text-align:center;
  font-weight:900;
}

#about h3{
  font-weight:600;
  color:#428BCA;
}

#about p{
  font-size:1.2em;
}


#haraya {
  height:100vh;
  width:100%;
  background-image:image_url('haraya_bg.jpg');
  background-size: 100% 100%;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  justify-content: center;
}
#haraya .row{
  width:100%;
}


#article1,#article2,#haraya_container{
  height:90vh;
}

#haraya_container{
  display:flex;
  align-items:center;
  justify-content: center;
}


#haraya-activate {
    color: #FFFFFF;
    background-color: #6867CC;
    border-color: #403F94;
    font-size: 3em;
    font-weight: 900;
    transition: all 0.5s ease;
    animation: spaceboots 1s ease infinite;
  }

#haraya-activate:hover{
    transform:scale(1.2);
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
