<p id="notice"><%= notice %></p>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      
      <% @researches.each do |research| %>
      	<tr>
  		  <td>
	  	<%= research.title %>
	  	  </td>
 		</tr>
      <% end %>
	
    </tbody>
  </table>
</div>